
.vs/RiveraNetCore/v15/.suo
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/RiveraNetCore/v15/Server/sqlite3/storage.ide-wal
.vs/RiveraNetCore/v15/Server/sqlite3/storage.ide-shm
.vs/RiveraNetCore/v15/Server/sqlite3/storage.ide
.vs/RiveraNetCore/v15/Server/sqlite3/db.lock
.vs/RiveraNetCore/DesignTimeBuild/.dtbcache
.vs/ProjectSettings.json
.vs/NetCoreExample/v15/.suo
ToysRMe.CommonLibrary/.vs/ToysRMe.CommonLibrary/DesignTimeBuild/.dtbcache
ToysRMe.CommonLibrary/.vs/ToysRMe.CommonLibrary/v15/.suo
ToysRMe.CommonLibrary/.vs/ToysRMe.CommonLibrary/v15/Server/sqlite3/db.lock
ToysRMe.CommonLibrary/.vs/ToysRMe.CommonLibrary/v15/Server/sqlite3/storage.ide
ToysRMe.CommonLibrary/bin/Debug/netstandard1.6/ToysRMe.CommonLibrary.deps.json
ToysRMe.CommonLibrary/bin/Debug/netstandard1.6/ToysRMe.CommonLibrary.dll
ToysRMe.CommonLibrary/bin/Debug/netstandard1.6/ToysRMe.CommonLibrary.pdb
ToysRMe.CommonLibrary/obj/Debug/netstandard1.6/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ToysRMe.CommonLibrary/obj/Debug/netstandard1.6/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ToysRMe.CommonLibrary/obj/Debug/netstandard1.6/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ToysRMe.CommonLibrary/obj/Debug/netstandard1.6/ToysRMe.CommonLibrary.AssemblyInfo.cs
ToysRMe.CommonLibrary/obj/Debug/netstandard1.6/ToysRMe.CommonLibrary.AssemblyInfoInputs.cache
ToysRMe.CommonLibrary/obj/Debug/netstandard1.6/ToysRMe.CommonLibrary.assets.cache
ToysRMe.CommonLibrary/obj/Debug/netstandard1.6/ToysRMe.CommonLibrary.csproj.CoreCompileInputs.cache
ToysRMe.CommonLibrary/obj/Debug/netstandard1.6/ToysRMe.CommonLibrary.csproj.FileListAbsolute.txt
ToysRMe.CommonLibrary/obj/Debug/netstandard1.6/ToysRMe.CommonLibrary.dll
ToysRMe.CommonLibrary/obj/Debug/netstandard1.6/ToysRMe.CommonLibrary.pdb
ToysRMe.CommonLibrary/obj/project.assets.json
ToysRMe.CommonLibrary/obj/Release/netstandard1.6/ToysRMe.CommonLibrary.AssemblyInfo.cs
ToysRMe.CommonLibrary/obj/Release/netstandard1.6/ToysRMe.CommonLibrary.AssemblyInfoInputs.cache
ToysRMe.CommonLibrary/obj/Release/netstandard1.6/ToysRMe.CommonLibrary.csproj.CoreCompileInputs.cache
ToysRMe.CommonLibrary/obj/ToysRMe.CommonLibrary.csproj.nuget.cache
ToysRMe.CommonLibrary/obj/ToysRMe.CommonLibrary.csproj.nuget.g.props
ToysRMe.CommonLibrary/obj/ToysRMe.CommonLibrary.csproj.nuget.g.targets
ToysRMe.WebApi/bin/Debug/netcoreapp1.0/ToysRMe.CommonLibrary.dll
ToysRMe.WebApi/bin/Debug/netcoreapp1.0/ToysRMe.CommonLibrary.pdb
ToysRMe.WebApi/bin/Debug/netcoreapp1.0/ToysRMe.WebApi.deps.json
ToysRMe.WebApi/bin/Debug/netcoreapp1.0/ToysRMe.WebApi.dll
ToysRMe.WebApi/bin/Debug/netcoreapp1.0/ToysRMe.WebApi.pdb
ToysRMe.WebApi/bin/Debug/netcoreapp1.0/ToysRMe.WebApi.runtimeconfig.dev.json
ToysRMe.WebApi/bin/Debug/netcoreapp1.0/ToysRMe.WebApi.runtimeconfig.json
ToysRMe.WebApi/obj/Debug/netcoreapp1.0/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ToysRMe.WebApi/obj/Debug/netcoreapp1.0/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ToysRMe.WebApi/obj/Debug/netcoreapp1.0/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ToysRMe.WebApi/obj/Debug/netcoreapp1.0/ToysRMe.WebApi.AssemblyInfo.cs
ToysRMe.WebApi/obj/Debug/netcoreapp1.0/ToysRMe.WebApi.AssemblyInfoInputs.cache
ToysRMe.WebApi/obj/Debug/netcoreapp1.0/ToysRMe.WebApi.assets.cache
ToysRMe.WebApi/obj/Debug/netcoreapp1.0/ToysRMe.WebApi.csproj.CopyComplete
ToysRMe.WebApi/obj/Debug/netcoreapp1.0/ToysRMe.WebApi.csproj.CoreCompileInputs.cache
ToysRMe.WebApi/obj/Debug/netcoreapp1.0/ToysRMe.WebApi.csproj.FileListAbsolute.txt
ToysRMe.WebApi/obj/Debug/netcoreapp1.0/ToysRMe.WebApi.csprojAssemblyReference.cache
ToysRMe.WebApi/obj/Debug/netcoreapp1.0/ToysRMe.WebApi.dll
ToysRMe.WebApi/obj/Debug/netcoreapp1.0/ToysRMe.WebApi.pdb
ToysRMe.WebApi/obj/project.assets.json
ToysRMe.WebApi/obj/Release/netcoreapp1.0/ToysRMe.WebApi.AssemblyInfo.cs
ToysRMe.WebApi/obj/Release/netcoreapp1.0/ToysRMe.WebApi.AssemblyInfoInputs.cache
ToysRMe.WebApi/obj/Release/netcoreapp1.0/ToysRMe.WebApi.csproj.CoreCompileInputs.cache
ToysRMe.WebApi/obj/ToysRMe.WebApi.csproj.nuget.cache
ToysRMe.WebApi/obj/ToysRMe.WebApi.csproj.nuget.g.props
ToysRMe.WebApi/obj/ToysRMe.WebApi.csproj.nuget.g.targets
ToysRMe.WebMVC/bin/Debug/netcoreapp1.0/ToysRMe.CommonLibrary.dll
ToysRMe.WebMVC/bin/Debug/netcoreapp1.0/ToysRMe.CommonLibrary.pdb
ToysRMe.WebMVC/bin/Debug/netcoreapp1.0/ToysRMe.MVC.deps.json
ToysRMe.WebMVC/bin/Debug/netcoreapp1.0/ToysRMe.MVC.dll
ToysRMe.WebMVC/bin/Debug/netcoreapp1.0/ToysRMe.MVC.pdb
ToysRMe.WebMVC/bin/Debug/netcoreapp1.0/ToysRMe.MVC.runtimeconfig.dev.json
ToysRMe.WebMVC/bin/Debug/netcoreapp1.0/ToysRMe.MVC.runtimeconfig.json
ToysRMe.WebMVC/obj/Debug/netcoreapp1.0/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ToysRMe.WebMVC/obj/Debug/netcoreapp1.0/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ToysRMe.WebMVC/obj/Debug/netcoreapp1.0/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ToysRMe.WebMVC/obj/Debug/netcoreapp1.0/ToysRMe.MVC.dll
ToysRMe.WebMVC/obj/Debug/netcoreapp1.0/ToysRMe.MVC.pdb
ToysRMe.WebMVC/obj/Debug/netcoreapp1.0/ToysRMe.WebMVC.AssemblyInfo.cs
ToysRMe.WebMVC/obj/Debug/netcoreapp1.0/ToysRMe.WebMVC.AssemblyInfoInputs.cache
ToysRMe.WebMVC/obj/Debug/netcoreapp1.0/ToysRMe.WebMVC.assets.cache
ToysRMe.WebMVC/obj/Debug/netcoreapp1.0/ToysRMe.WebMVC.csproj.CopyComplete
ToysRMe.WebMVC/obj/Debug/netcoreapp1.0/ToysRMe.WebMVC.csproj.CoreCompileInputs.cache
ToysRMe.WebMVC/obj/Debug/netcoreapp1.0/ToysRMe.WebMVC.csproj.FileListAbsolute.txt
ToysRMe.WebMVC/obj/Debug/netcoreapp1.0/ToysRMe.WebMVC.csprojAssemblyReference.cache
ToysRMe.WebMVC/obj/project.assets.json
ToysRMe.WebMVC/obj/Release/netcoreapp1.0/ToysRMe.WebMVC.AssemblyInfo.cs
ToysRMe.WebMVC/obj/Release/netcoreapp1.0/ToysRMe.WebMVC.AssemblyInfoInputs.cache
ToysRMe.WebMVC/obj/Release/netcoreapp1.0/ToysRMe.WebMVC.csproj.CoreCompileInputs.cache
ToysRMe.WebMVC/obj/ToysRMe.WebMVC.csproj.nuget.cache
ToysRMe.WebMVC/obj/ToysRMe.WebMVC.csproj.nuget.g.props
ToysRMe.WebMVC/obj/ToysRMe.WebMVC.csproj.nuget.g.targets
